<template>
<div>
  <table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th class="has-text-center">Construction Site</th>            
            <th class="has-text-center">Creator of Rental Request</th>
            <th class="has-text-center">Plant</th>
            <th class="has-text-center">Start and End Date</th>
            <th class="has-text-center">Price</th>
            <th class="has-text-center">Purchase Order</th>
            <th class="has-text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(request, request_index) in requests" :key="request_index">
            <td>
                {{request.site.name}}
            </td>
            <td>
                {{request.nameOfSiteEngineer}}
            </td>
            <td>
                {{request.plantInventoryEntryRef.name}} <br/>
                <a class="button is-link is-small is-outlined" @click="showDetail(request.plantInventoryEntryRef)">
                   See details
                </a>
            </td>
            <td>{{request.rentalPeriod.startDate}} / {{request.rentalPeriod.endDate}}</td>
            <td class="has-text-right">{{request.price}}</td>
            <td>
                <p v-if="request.purchaseOrderRef.href">
                    <a class="button is-link is-small is-outlined" @click="showPODetail(request.purchaseOrderRef)">
                         Show Status
                     </a>
                </p>
            </td>
            <td>
                <a v-for="(link, rel) in request._links" :key="rel" v-if="rel !== 'self'"
                    v-bind:class="{ 'is-danger': link.method === 'DELETE', 'is-link': link.method !== 'DELETE' }"
                    class="button is-small is-outlined"
                    @click="followLink(link, rel, request_index)">
                    {{rel}}
                </a>
            </td>
        </tr>
    </tbody>
  </table>
</div>
</template>

<script>
import axios from "axios";
import PlantModal from "./PlantModal"
import POModal from "./POModal"
import Vue from "vue"
import Generic from "./Generic.vue"

export default {
    name: "PendingRequests",
    data: function() {
        return {
            requests: []
        }
    },
    // Buildit pending PHRs
    mounted: function() {
        axios.get("http://localhost:8000/api/rentals/planthire")
        .then(response => {
            console.log(response.data._embedded)
            this.requests = !response.data._embedded ? [] : response.data._embedded.PlantHireRequests;
        });
    },
    methods: {
        showDetail: function(plant){
            this.$modal.open({
                component: PlantModal,
                parent: this,
                props: {plant: plant},

            })

        },
        showPODetail: function(po) {
            this.$modal.open({
                component: POModal,
                parent: this,
                props: {po: po},

            })
        },
            followLink: function(link, rel, requests_index) {
    if (link.method) {
        axios({
            method: link.method,
            url: link.href
        }).then(response => {
            Vue.set(this.requests, requests_index, response.data);
        }).catch(error => console.log(error));
    } else {
        axios.get(link.href)
            .then(response => {
                let collection = [];
                if (response.data._embedded && response.data._embedded.extensions)
                    collection = response.data._embedded.extensions;
                this.$modal.open({
                    parent: this,
                    component: Generic,
                    props: {
                        title: rel,
                        collection: collection,
                        template: response.data._templates.default,
                        url: response.data._links.self.href
                    }
                });
            })
            .catch(error => console.log(error));
    }
}
    }
}
</script>