<template>
<div class="modal-card" style="width: auto">
    <header class="modal-card-head">
        <p class="modal-card-title">Plant info</p>
    </header>
    <section class="modal-card-body">
        <b-field label="Name">
            <b-input v-model="plantRef.name" readonly></b-input>
        </b-field>
        <b-field label="Description">
            <b-input v-model="plantRef.description" readonly></b-input>
        </b-field>
        <b-field label="Price">
            <b-input v-model="plantRef.price" readonly></b-input>
        </b-field>
    </section>
    <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
    </footer>
</div>
</template>

<script>
import axios from "axios";
export default {
    name: "PlantModal",
    props: ['plant'],
    data: function() {
        return {
            plantRef: []
        }
    },
    mounted: function() {
        console.log(this.plant.href)
        axios.get(this.plant.href)
        .then(response => {
            this.plantRef = !response.data ? [] : response.data;
            console.log(this.plantRef);
        });
    }
}
</script>