<template>
<div class="modal-card" style="width: auto">
    <header class="modal-card-head">
        <p class="modal-card-title">Purchase Order Status</p>
    </header>
    <section class="modal-card-body">
        <p id="po-status">{{poRef.status}}</p>
    </section>
    <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
    </footer>
</div>
</template>

<script>
import axios from "axios";
export default {
    name: "POModal",
    props: ['po'],
    data: function() {
        return {
            poRef: []
        }
    },
    mounted: function() {
        console.log(this.po.href)
        axios.get(this.po.href)
        .then(response => {
            this.poRef = !response.data ? [] : response.data;
            console.log(this.poRef);
        });
    }
}
</script>