<template>
  <div class="about">
    <worksEngineer></worksEngineer>
  </div>
</template>

<script>
// @ is an alias to /src
import WorksEngineer from '@/components/WorksEngineer.vue'

export default {
  name: 'home',
  components: {
    WorksEngineer
  }
}
</script>

