<template>
<div>
    <b-tabs type="is-toggle" expanded v-model="activeTab" style="margin-top: 20px" > 
        <b-tab-item label="RentIt's Purshase Order">
        </b-tab-item>   
    </b-tabs> 

  <table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th class="has-text-center">Plant</th>
            <th class="has-text-center">Rental period</th>
            <th class="has-text-center">Price</th>
            <th class="has-text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(order, order_index) in orders" :key="order_index">
            <td>
                {{order.plant.name}} <br/>
                <a class="button is-link is-small is-outlined" @click="showDetail(order.plant)">
                   See details
                </a>
            </td>
            <td>{{order.rentalPeriod.startDate}} / {{order.rentalPeriod.endDate}}</td>
            <td class="has-text-right">{{order.total}}</td>
            <td>
                <a v-for="(link, rel) in order._links" :key="rel" v-if="rel !== 'self'"
                    v-bind:class="{ 'is-danger': link.method === 'DELETE', 'is-link': link.method !== 'DELETE' }"
                    class="button is-small is-outlined"
                    @click="followLink(link, rel, order_index)">
                    {{rel}}
                </a>
            </td>
        </tr>
    </tbody>
  </table>
</div>
</template>

<script>
import axios from "axios";
import PlantModal from "@/components/allocations/PlantModal"
import Vue from "vue"
import Generic from "@/components/allocations/Generic.vue"

export default {
    name: "PurchaseOrders",
    data: function() {
        return {
            orders: []
        }
    },
    mounted: function() {
        axios.get("http://localhost:8090/api/sales/orders")
        .then(response => {
            console.log(response.data._embedded)
            this.orders = !response.data._embedded ? [] : response.data._embedded.orders;
            // this.orders = !response.data ? [] : response.data.orders;
        });
    },
    methods: {
        showDetail: function(plant){
            this.$modal.open({
                component: PlantModal,
                parent: this,
                props: {plant: plant},

            })

        },
            followLink: function(link, rel, order_index) {
    if (link.method) {
        axios({
            method: link.method,
            url: link.href
        }).then(response => {
            Vue.set(this.orders, order_index, response.data);
        }).catch(error => console.log(error));
    } else {
        axios.get(link.href)
            .then(response => {
                let collection = [];
                if (response.data._embedded && response.data._embedded.extensions)
                    collection = response.data._embedded.extensions;
                this.$modal.open({
                    parent: this,
                    component: Generic,
                    props: {
                        title: rel,
                        collection: collection,
                        template: response.data._templates.default,
                        url: response.data._links.self.href
                    }
                });
            })
            .catch(error => console.log(error));
    }
}
    }
}
</script>