<template>
  <div class="hello">
    <h2 class="title">
      Create Plant Hire Request
    </h2>
    <request-creation></request-creation>
  </div>
</template>

<script>
import RequestCreation from "./sales/RequestCreation"
export default {
  name: 'HelloWorld',
  components :{
    RequestCreation
  },
  props: {
    msg: String
  }
}
</script>
