<template>
  <div>
    <h2 class="title">
      Plant Hire Requests and Purchase Orders
    </h2>
    <div> 
        <b-tabs type="is-toggle" expanded v-model="activeTab" style="margin-top: 20px" >         
            <b-tab-item label="Plant Hire Requests">
                <pendingRequests></pendingRequests>
            </b-tab-item>
        
            <!-- <b-tab-item label="Purchase Orders">
                <purchaseOrders></purchaseOrders>
            </b-tab-item> -->
        </b-tabs>
    </div>
  </div>
</template>

<script>
import PendingRequests from "./allocations/PendingRequests.vue"
// import PurchaseOrders from "./allocations/PurchaseOrders.vue"
export default {
  name: 'WorksEngineer',
  components :{
    PendingRequests
    // PurchaseOrders
  },
  data: function() {
        return {
            activeTab: 0
        }  
  },        
  props: {
    msg: String
  }
}
</script>