<template>
    <section>
        <b-field label="Plant name">
            <b-input id="plantName" v-model="query.name"></b-input>
        </b-field>
        <b-field label="Start Date">
            <b-datepicker 
                id="startDate"
                placeholder="Click to select..."
                icon="calendar-today"
                v-model="query.startDate">
            </b-datepicker>
        </b-field>
        <b-field label="End Date">
            <b-datepicker 
                id="endDate"
                placeholder="Click to select..."
                icon="calendar-today"
                v-model="query.endDate">
            </b-datepicker>
        </b-field>
        <button class="button is-primary is-outlined animated bounceIn" id="submitQuerybutton" @click="submit" > 
            Submit Query
        </button>
    </section>
</template>

<script>
export default {
  name: "CatalogQuery",
  data: function() {
      return{
          query: {
            name: "",
            startDate: undefined,
            endDate: undefined
          }
      }
  },
  methods: {
      submit: function() {
          console.log(this.query)
          this.$emit("sumbitCatalogQuery", this.query)
      }
  }
};
</script>

