<template>
<div>
  <section>
    <b-field label="Customer reference">
        <b-input ></b-input>
    </b-field>
    <b-field label="Construction Site address">
        <b-input ></b-input>
    </b-field>
    <button class="button is-primary" @click="submit">Create Plant Hire Request</button>
  </section>
<table class="table is-table-bordered is-table-striped is-fullwidth" style="margin-top: 20px">
    <thead>
        <tr>
            <th class="has-text-center">Name</th>
            <th class="has-text-center">Start Date</th>
            <th class="has-text-center">End Date</th>
            <th class="has-text-center">Price</th>
            <th class="has-text-center">Subtotal</th>
            <th class="has-text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
         <tr >
            <td>{{order.plant.name}}</td>
            <td>{{order.rentalPeriod.startDate}}</td>
            <td>{{order.rentalPeriod.endDate}}</td>
            <td class="has-text-right">{{order.plant.price}}</td>
            <td class="has-text-right"></td>
            <a class="button is-danger is-outlined">Remove</a>
        </tr>
    </tbody>
</table>
</div>
</template>

<script>
export default {
    name: "ReviewOrder",
    props: ["order"],
    methods: {
        submit: function(){
            this.$emit("createPO");
        }
    }
}
</script>

<style>

</style>
