<template>
    <div> 
        <!-- <h2>Hello</h2> -->
        <b-tabs type="is-toggle" expanded v-model="activeTab" style="margin-top: 20px" > 
            <b-tab-item label="Query catalog">
                <catalog-query @sumbitCatalogQuery="handleCatalogQuery"></catalog-query>
            </b-tab-item>
        
            <b-tab-item label="Select plant">
                <query-result :plants="plants" @reviewOrder="handleReviewOrder"></query-result>
            </b-tab-item>
        
            <b-tab-item label="Review request">
                <review-order :order="order" @createPO = "handleCreatePO"></review-order>
            </b-tab-item>
        </b-tabs>
    </div>
</template>

<script>
import CatalogQuery from "./CatalogQuery.vue"
import QueryResult from "./QueryResult.vue"
import ReviewOrder from "./ReviewOrder.vue"
import axios from "axios"
import moment from "moment"

export default {
    name: "OrderCreation",
    components: {
        CatalogQuery,
        QueryResult,
        ReviewOrder
    },
    data: function() {
        return {
            activeTab: 0,
            plants: null,
            order: {
                plant:{},
                rentalPeriod: {}

            }
        }
    },
    methods: {
        handleCatalogQuery: function(query){
            if(query.name ){
                let params = {
                    name: query.name,
                    startDate: moment(String(query.startDate)).format("YYYY-MM-DD"),
                    endDate: moment(String(query.endDate)).format("YYYY-MM-DD")
                }
            axios.get("http://localhost:8090/api/sales/plants", {params: params})
            .then( response => {
                console.log(response.data)
                this.activeTab = 1
                this.plants = response.data._embedded.plants
                this.order.rentalPeriod = {
                    startDate: moment(String(params.startDate)).format("YYYY-MM-DD"),
                    endDate: moment(String(params.endDate)).format("YYYY-MM-DD")
                }
            })
            }
           
        },
        handleReviewOrder: function(plant){
            console.log(plant.name)
            this.activeTab=2
            this.order.plant=plant
        },
        handleCreatePO: function(){
            axios.post("http://localhost:8090/api/sales/orders", this.order)
            .then(response =>{
                console.log(response.data)
                if(response.data.status == "PENDING"){
                    this.$toast.open({
                    duration: 5000,
                    message: "Order accepted, in Pending state",
                    position: 'is-bottom',
                    type: 'is-success'
                })
                }
                 
            }).catch(error => {
                console.log(error)
                this.$toast.open({
                    duration: 5000,
                    message: "Something went wrong... Order was not successful!",
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            })
        }
    }

}
</script>

