<template>
    <div> 
        <!-- <h2>{{}}</h2> -->
        <b-tabs type="is-toggle" expanded v-model="activeTab" style="margin-top: 20px" > 
            <b-tab-item label="Query catalog">
                <catalog-query @sumbitCatalogQuery="handleCatalogQuery"></catalog-query>
            </b-tab-item>
        
            <b-tab-item label="Select plant">
                <query-result :plants="plants" @reviewRequest="handleReviewRequest"></query-result>
            </b-tab-item>
        
            <b-tab-item label="Review request">
                <review-request :request="request" @createPHR = "handleCreatePHR"></review-request>
            </b-tab-item>
        </b-tabs>
    </div>
</template>

<script>
import CatalogQuery from "./CatalogQuery.vue"
import QueryResult from "./QueryResult.vue"
import ReviewRequest from "./ReviewRequest.vue"
import axios from "axios"
import moment from "moment"

export default {
    name: "RequestCreation",
    components: {
        CatalogQuery,
        QueryResult,
        ReviewRequest
    },
    data: function() {
        return {
            activeTab: 0,
            plants: null,
            request: {
                plantInventoryEntryRef:{
                    name:"",
                    href:""
                },
                rentalPeriod: {
                    startDate: undefined,
                    endDate: undefined
                },
                nameOfSiteEngineer:"",
                price:0
            },
            requestFinal: {
                plantInventoryEntryRef:{
                    name:"",
                    href:""
                },
                rentalPeriod: {
                    startDate: undefined,
                    endDate: undefined
                },
                nameOfSiteEngineer:"",
                price:0
            }
        }
    },
    methods: {
        handleCatalogQuery: function(query){
            if(query.name ){
                let params = {
                    name: query.name,
                    startDate: moment(String(query.startDate)).format("YYYY-MM-DD"),
                    endDate: moment(String(query.endDate)).format("YYYY-MM-DD")
                }
            axios.get("http://localhost:8000/api/rentals/plants", {params: params})
            .then( response => {
                console.log(response.data)
                this.activeTab = 1
                this.plants = response.data._embedded.plantList
                this.request.rentalPeriod = {
                    startDate: moment(String(params.startDate)).format("YYYY-MM-DD"),
                    endDate: moment(String(params.endDate)).format("YYYY-MM-DD")
                }
            })
            }
           
        },
        handleReviewRequest: function(plant){
            console.log(plant.name)
            this.activeTab=2
            this.request.plantInventoryEntryRef=plant
        },
        handleCreatePHR: function(){
            this.requestFinal.plantInventoryEntryRef.name = this.request.plantInventoryEntryRef.name;
            this.requestFinal.plantInventoryEntryRef.href = this.request.plantInventoryEntryRef._links.self.href;
            this.requestFinal.rentalPeriod.endDate = this.request.rentalPeriod.endDate;
            this.requestFinal.rentalPeriod.startDate = this.request.rentalPeriod.startDate;
            this.requestFinal.nameOfSiteEngineer = this.request.nameOfSiteEngineer;
            this.requestFinal.price = this.request.price;
            //  console.log("requestFinal plant href: "+this.requestFinal.plantInventoryEntryRef.href);

            axios.post("http://localhost:8000/api/rentals/planthire/", this.requestFinal)
            .then(response =>{
                // console.log("phrStatusphrStatus stayust,,...: "+response.data.phrStatus)
                if(response.data.phrStatus == "PENDING"){
                    this.$toast.open({
                    duration: 5000,
                    message: "Request Created, in Pending state",
                    position: 'is-bottom',
                    type: 'is-success'
                })
                }
                 
            }).catch(error => {
                console.log(error)
                this.$toast.open({
                    duration: 5000,
                    message: "Something went wrong... Request was not successfully created!",
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            })
        }
    }

}
</script>

