<template>
<div>
  <section>   
    <b-field label="Creator of Rental Request">
        <b-input v-model="request.nameOfSiteEngineer"></b-input>
    </b-field>
    <b-field label="Start Date">
        <b-input
            disabled="true"
            v-model="request.rentalPeriod.startDate">
        </b-input>
    </b-field>
    <b-field label="End Date">
        <b-input
            disabled="true"
            v-model="request.rentalPeriod.endDate">
        </b-input>
    </b-field>
    <button class="button is-primary" @click="submit">Create Plant Hire Request</button>
  </section>
<table class="table is-table-bordered is-table-striped is-fullwidth" style="margin-top: 20px">
    <thead>
        <tr>
            <th class="has-text-center">Name</th>
            <th class="has-text-center">Start Date</th>
            <th class="has-text-center">End Date</th>
            <th class="has-text-center">Price</th>
            <th class="has-text-center">Subtotal</th>
            <!-- <th class="has-text-center">Actions</th> -->
        </tr>
    </thead>
    <tbody>
         <tr >
            <td>{{request.plantInventoryEntryRef.name}}</td>
            <td>{{request.rentalPeriod.startDate}}</td>
            <td>{{request.rentalPeriod.endDate}}</td>
            <td class="has-text-right">{{request.plantInventoryEntryRef.price}}</td>
            <td class="has-text-right">{{subtotal}}</td>
            <!-- <a class="button is-danger is-outlined">Remove</a> -->
        </tr>
    </tbody>
</table>
</div>
</template>

<script>
import moment from 'moment';
export default {
    name: "ReviewRequest",
    props: ["request"],
    methods: {
        submit: function(){
            this.$emit("createPHR");
        }
    },
    computed: {
        subtotal: function () {
            var start = moment(this.request.rentalPeriod.startDate);
            var end   = moment(this.request.rentalPeriod.endDate);    
            var numDays = end.diff(start, 'days');    
            //if its one day or if the start date is after the end date
            if(numDays<0 || numDays==0) {
                numDays=1;
            }     
            this.request.price = (this.request.plantInventoryEntryRef.price)*numDays;     
            return (this.request.plantInventoryEntryRef.price)*numDays;
        }
    }
}
</script>

<style>

</style>
